<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ poll.name }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="index.html">Home</a></li>
                    <li role="presentation" class="active"><a href="vote.html">Vote</a></li>
                    <li role="presentation"><a href="results.html">Results</a></li>
                </ul>
            </nav>
            <h1 class="text-muted">Sample Poll Application</h1>
        </div>
        <div class="panel panel-default">
             <div class="panel-heading">
                  <h2 class="text-muted">{{ poll.question }}</h2>
             </div>
             <div class="panel-body">
                <form id="choice" name='form' method="POST" action="">
                <table class="table table-striped">
                <thead><tr><th>Option</th><th>Select</th></tr></thead>
                <tbody>
                {% for option in options %}
                   <tr>
                       <td>{{ option.text }}</td>
                       <td><input type="radio" name="vote" value="{{ option.id }}" checked="checked"></td>
                   </tr>
                {% endfor %}
                </tbody>
                </table>
                <input type="submit" name="vote" value="Vote" class="btn btn-success">
                </form>
             </div>
        </div>
        <footer class="footer">
            <p> Served by {{hostname}}</p>
            <p> &copy; NoverIT 2017</p>
        </footer>
    </div>
</body>
 
</html>
